$small-nav-color:#4c6585;
$most-text:#89939c;
$green-color:#28c4a7;
$blue-color:#176ae1;
$white-color-1:#e9f6fa;
$white-color-2:#cbdde3;
$black-color-1:#131a18;
$black-color-2:#141414;
$footer-color:#111720;
$facebook-color:#3b5998;
$twitter-color:#4fc0e9;
$linkedin-color:#3272bd;
$gmail-color:#d13f2d;
$price-package:#3c5169;
$background-blue:#354050;
$red-404:#fb5252;
$about-blue:#1c7bc3;