@import './modules/utility';
@import './modules/colors';
@import './modules/all';

@import './partials/buttons';
@import './partials/figures';
@import './partials/grid';
@import './partials/reset';
@import './partials/typography';
@import './partials/base';

@import './layout/header';
@import './layout/small_navbar';
@import './layout/big_navbar';
@import './layout/hero';
@import './layout/sections';
@import './layout/footer';

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family:"Poppins",sans-serif;
}

html{
    font-size: 10px;
}