@import '../modules/utility';

.about{
    width: 100%;
    transition: .3s;
    &-banner{
        @include centerAll;
        background-image: url("../../img/banner.png");
        background-position: center;
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 4rem 0;

        &-content{
            text-align: center;
            color: #fff;
            line-height: 1.5rem;
        }
    }

    &-body{
        @include centerAll;
        width: 100%;
        padding: 4rem 0;

        
    }

    &-company{
        @include centerAll;
        &-content{
            width: 70%;
            display: grid;
            grid-template-columns: repeat(2,1fr);

            @media(max-width:768px){
                grid-template-columns:1fr 0px;
            }
        }

        &-image{
            @media(max-width:768px){
              img{
                display: none;
              }
            }
        }

        &-text{
            h2{
                padding: 2rem 0;
            }

            .stats{
                display: flex;
                span{
                    padding: 4rem 0;
                    padding-right: 2rem;
                    line-height: 1rem;
                    h3{
                        color: $blue-color;
                        
                    }
                }
            }
        }

        &-image{
            @include centerAll;
            img{
                width: 25rem;
            }
        }
    }

    &-hosting{
        @include centerAll;
        background-color: $white-color-2;
        width: 100%;
        padding: 6rem 0;

        &-content{
            text-align: center;
        }

        &-top{
            padding-bottom: 1rem;
        }

        &-slides{
            @include spaceAll;
        }

        
        &-slide{
            @include centerAll;
           background-color: #fff;
            width: 22rem;
            height: 22rem;
            margin: 2rem  1rem;
            transition: 0.3s;
           
         
            img{
                width: 5rem;
            }

            h3{
                font-size: 1.4rem;
                padding: 1rem 0;
            }

            p{
                color: $most-text;
                width: 20rem;
            }
        }
    }

    &-clients{
        @include centerAll; 
        width: 100%;
        padding: 2rem;
        &-content{
            padding: 2rem;
            @include spaceAll;
            border-bottom: 1px solid $white-color-2;
        }
    }

    &-client{
        padding: 2rem;

        img{
            width: 12rem;
        }
    }

    &-team{
        @include centerAll; 
        width: 100%;
        padding: 2rem;
        &-content{
           text-align: center;
           width: 70rem;

            @media(max-width:768px){
               width:80%;
            }
        }

        &-body{
            padding: 2rem 0;
            @include spaceAll;
        }

        &-item{
            position: relative;
            img{
                width: 15rem;
            }

            .name{
                display: none;
                position: absolute;
                top: 8.5rem;
                color: #fff;
                left: 2.6rem;
            }

            &:hover{

            }
        }

        &-button{
            .panel-btn{
                font-size: 1rem !important;
            }
        }
    }

    &-bottom{
        @include centerAll;
        width: 100%;
        background-color:$about-blue;
        padding: 5rem 0;
        &-content{
            @include spaceAll;
            width: 60%;
            
        }

        &-item{
            display: flex;
            align-items: center;
            color: #fff;

            @media(max-width:768px){
                margin: 2rem 0;
            }

            .info{
                padding-left: 1rem;
                h2{
                    span{
                        font-size: 1rem;
                    }
                }
                p{
                    font-weight:600;
                }
                line-height: 1rem;
            }
        }
    }
}