@import '../modules/utility';

.domain{
    &-banner{
        @include centerAll;
        background-image: url("../../img/banner.png");
        background-position: center;
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 4rem 0;

        &-content{
            text-align: center;
            color: #fff;
            line-height: 1.5rem;
        }
    }

    
    &-search{
        @include centerAll;
        background-color: $blue-color;
        padding: 5rem 0;

        &-content{
            text-align: center;
            color: #fff;
            line-height: 1.5rem;

            h2{
                padding: 2rem 0;
            }
            .form{
                display: flex;
                input{
                    position: relative;
                    padding: 1.2rem 1.5rem;
                    padding-right: 15rem;
                    left: .1rem;
                    background-color: #fff;
                    border:none;

                    @media(max-width: 768px){
                        padding-right: .1rem;
                    }
                }

                select{
                    padding: 1.3rem 1.5rem;
                    background-color: #fff;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 1rem;
                    border:none
                }

                .btn{
                    padding: 1.4rem 2rem;
                    border-radius: 0;
                    color: white;
                }
            }

            .price{
                
                &-first{
                    @include centerAll;
                    padding: 1rem 0;
                }

                &-list{
                list-style: none;
                display: flex;
                }
                &-item{
                    padding-right: 1rem;
                }
            }

        }
    }


    &-price{
        &-list{
            width:100%;
            @include centerAll;
            padding: 3rem 0;

            .info-scroll{
                display: none;
               padding: 2rem 1rem;
                p{
                    font-size: 1.5rem;

                    span{
                        color: $green-color;
                    }
                }
            }

            @media(max-width:768px){
                .info-scroll{
                    display: block;
                }
                display: block;
             }

            
        }

        &-table{
            width:100%;
            @media(max-width:768px){
               
                 overflow: scroll;
             }
            table{
                width:100%;
                border-collapse: collapse;
                font-size: 1.2rem;

                thead{
                    font-size: 1.3rem;
                    color:#fff;
                    background-color: $green-color;
                   
                    th{
                        padding: 1rem 2.5rem ;
                    }
                    
                }

                tbody{
                    tr{
                        padding: 1rem 2.5rem ;

                        td{
                            padding: 1rem 3.5rem ;
                            padding-right: 4rem;

                            &:nth-child(2){
                                border-left: 1px solid $white-color-2;
                            }
                            &:nth-child(4){
                                border-left: 1px solid $white-color-2;
                            }
                            &:nth-child(5){
                                border-left: 1px solid $white-color-2;
                            }
                          

                            
                        }
                        &:nth-child(1){
                            border-bottom: 1px solid $white-color-2;
                        }
                        &:nth-child(3){
                            border-bottom: 1px solid $white-color-2;
                        }
                        &:nth-child(5){
                            border-bottom: 1px solid $white-color-2;
                        }
                        &:nth-child(6){
                            border-bottom: 1px solid $white-color-2;
                        }
                        
                    }
                }
            }
        }
    }

    &-addon{
        width: 100%;
        @include centerAll;
        background-color: $background-blue;
        padding: 8rem 0;
        &-content{
            width: 70%;
            
        }
        &-top{
            padding: 3rem 0;
            text-align: center;
            color: #fff;
        }
        &-body{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap:3rem ;

            @media(max-width: 768px){
                grid-template-columns: 1fr;
            }

        }

        &-item{
            line-height: 3rem;

            h3{
                color: #fff;
            }

            p{
                line-height: 2rem;
                color: $most-text;
               
            }
        }
    }

    &-faq{
        width: 100%;
        @include centerAll;
        padding: 8rem 0;
        &-content{
            width: 90%;

            @media(max-width: 768px){
                width: 100%;
            }
            
        }
        &-top{
            padding: 3rem 0;
        }
        &-items{
            width:35rem;
            padding: 5rem 0;
        }
        &-item{
            border: 1px solid $black-color-2;
            padding: 1rem;

            &:target .answer{
                max-height: 20rem;
            }

            &:target .domain-faq-link .add{
               display: none;
            }

            &:target .domain-faq-link .remove{
                display: block;
             }

            
        }

        &-link{
            display: flex;
            justify-content: space-between;
            align-items: center ;
            padding: 1rem 0;
            font-size: 1.6rem;

            ion-icon{
                padding: .5rem;
            }

            .remove{
                display: none;
            }
        }

        .answer{
            max-height: 0;
            overflow: hidden;
        }

        &-buttons{
            span{
                padding-right: 1rem;

                .btn{
                    padding: 1.5rem 1.5rem;
                }
            }
        }
    }
}