@import '../modules/utility';

.faq{
    width: 100%;
    &-banner{
        @include centerAll;
        background-image: url("../../img/banner.png");
        background-position: center;
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 4rem 0;

        &-content{
            text-align: center;
            color: #fff;
            line-height: 1.5rem;
        }
    }

    &-search{
        @include centerAll;
        background-image: url(../../img/faq-image.png);
        background-size: cover;
        background-position: center;
        padding: 5rem 0;

        &-content{
            text-align: center;
            color: #fff;
            line-height: 1.5rem;

            h2{
                padding: 2rem 0;
            }
            .form{
                display: flex;
                input{
                    position: relative;
                    padding: 1rem 1.5rem;
                    padding-right: 15rem;
                    left: .1rem;

                    @media(max-width: 768px){
                        padding-right: 3rem;
                    }
                }

                .btn{
                    padding: 1.4rem 2rem;
                    border-radius: 0;
                    color: white;
                }
            }
        }
    }

    &-list{
        @include centerAll;
        width:100%;
        padding: 5rem 0;
        
        &-content{
            @include spaceAll;
            align-items: flex-start;
           
        }
    }

    &-nav{
 
        padding: 2rem;
        order: 2;
        background-color: $white-color-1;
        border-top:5px solid $green-color;
        text-align: text;
        justify-content: center;
        padding: 0 3rem;

        &-list{
           display: flex;
           flex-direction: column;
          text-align: left;
         justify-content: left;

         label{
             font-size: 1.2rem;
             border-bottom: 1px solid $most-text;
             padding: 1rem 0;

             &:last-child{
                border:none;

             }

             &:hover{
                 color:$green-color;
             }
         }
        }
    }

    &-questions{
        order:1;
        padding-right: 12.5rem;
        
    }

    &-question{
      padding: 1.5rem 0;
       &-content{
        display: flex;
        align-items: flex-start;
        .number{
            font-size: 1.5rem;
            font-weight: 600;
            padding-right: 2.5rem;
        }
        h3{
            padding-bottom: 1rem;
        }
        p{
            width: 60rem;
        }
       }
    }

    &-bottom{
        @include centerAll;
        width: 100%;
        padding: 5rem 0;
        &-content{
            @include spaceAll;
            width: 60%;
            
        }

        &-item{
            display: flex;
            align-items: center;
            color: #000;
            line-height: 1rem;
            
            @media (max-width:768px){
                padding: 2rem 0;
                line-height: 1.5rem;
            
             }

            p{
                font-weight: 600;
            }

            h3{
                color:$blue-color;
            }

            .phone{
                border-radius: 50%;
                background-color: $green-color;
                padding: 1rem;
                margin-right: 2rem;

                img{
                    width: 3rem;
                }
            }
        }
    }
}