@import '../modules/utility';

.hosting{
    &-banner{
        @include centerAll;
        background-image: url("../../img/banner.png");
        background-position: center;
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 4rem 0;

        &-content{
            text-align: center;
            color: #fff;
            line-height: 1.5rem;
        }
    }

    &-plans{
        @include centerAll;
        padding: 3rem 0;
        text-align: center;

        &-list{
            @include spaceAll
        }
        &-item{
            @include centerAll;
            background-color: $white-color-1;
            width: 18rem;
            height: 18rem;
            margin: 1rem;
            transition: 0.3s;

           span{
                line-height: 2.5rem;
                padding-bottom: 1.5rem;
                p{
                    font-weight: 600;

                    span{
                        color: $blue-color;
                        font-size: 3rem;
                    }
                }
           }

           

           &:hover{
            color: #fff;
            background-color: $blue-color;

            span{
                p{
                    span{
                        color:#fff;
                        font-size: 3rem;
                    }
                }
           }


            .panel-btn{
                background-color: $green-color;
                padding: 1.5rem 3rem;
                border: none;
                border-radius: 2px;
                font-size: 1rem;
                font-weight: 600;
                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
           }
        }
    }

    &-price{
        &-list{
            width:100%;
            @include centerAll;
            padding: 3rem 0;

            .info-scroll{
                display: none;
               padding: 2rem 1rem;
                p{
                    font-size: 1.5rem;

                    span{
                        color: $green-color;
                    }
                }
            }

            @media(max-width:768px){
                .info-scroll{
                    display: block;
                }
                display: block;
             }

            
        }

        &-table{
            width:100%;
            @media(max-width:768px){
               
                 overflow: scroll;
             }
            table{
                width:100%;
                border-collapse: collapse;
                font-size: 1.2rem;

                tbody{
                    tr{

                        td{
                            padding: 1rem 2.5rem ;
                            &:first-child{
                                padding-left: 0;
                            }
                            ion-icon{
                                color:$green-color;
                            }
                            ion-icon.close{
                                color:$most-text;
                            }
                           button{
                               border: 1px solid $green-color;
                               font-size: 1rem;
                                &:hover{
                                    background-color: $green-color;
                                    color:#fff;
                                    border: none;
                                    border-radius: 2px;
                                    font-size: 1rem;
                                    font-weight: 600;
                                }
                           }
                    
                        }
                      
                        &:nth-child(4){
                            border-bottom: 1px solid $white-color-2;
                        }
                        &:nth-child(5){
                            border-bottom: 1px solid $white-color-2;
                        }
                        &:nth-child(6){
                            border-bottom: 1px solid $white-color-2;
                        }
                        &:nth-child(7){
                            border-bottom: 1px solid $white-color-2;
                        }
                        &:nth-child(8){
                            border-bottom: 1px solid $white-color-2;
                        }
                    }
                }
            }
        }
    }


    &-include{
        width: 100%;
        @include centerAll;
        background-color: $white-color-2;
        padding: 8rem 0;
        &-content{
            width: 70%;
            
        }
        &-top{
            padding: 2rem 0;
        }
        &-body{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap:3rem ;

            @media(max-width:768px){
                grid-template-columns: 1fr;
            }
        }

        &-item{
            line-height: 3rem;

            p{
                line-height: 2rem;
               
            }
        }
    }

    &-sell{
        background-image:
        linear-gradient(to bottom, #131a18ad, rgba(0, 0, 0, 0.698)),
         url(../../img/inter.jpg);
         background-position: center;
         background-position-x: 10%;
         background-position-y: 30%;
       

        @include centerAll;
        width: 100%;
        padding: 8rem 0;
        &-content{
            width: 80%;
            display: grid;
            grid-template-columns:repeat(3,1fr);
            
            @media(max-width:768px){
                grid-template-columns:0px 0px 1fr;
            }
        }

        &-card{
            @include centerAll;
            text-align: center;
            grid-column-start: 3;

            &-content{
                padding: 3rem 0;
                width: 65%;
                background-color: #222932;
                color: #fff;

                @media(max-width:768px){
                   width:100%;
                }

                p{
                    color: $most-text;
                }
                h2{
                    span{
                        color: $green-color;
                        span{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }

    &-testimonials{
        @include centerAll;
        width: 100%;
        padding: 5rem 0;

        &-content{
            width: 70rem;
            
            @media(max-width:768px){
                width:35rem;
                text-align: center;
             }
        }

        &-body{
          display: flex;
        
          @media(max-width:768px){
            display: block;
           
         }
        }

        &-image{
            position: relative;
            padding-right: 2rem;
            .client-img{
                width: 12rem;
                border-radius: 50%;
                height: 11.5rem;
            }

            .quote{
                position: absolute;
                top: 0;
                left: -0.1rem;
                width: 4rem;
            }

            @media(max-width:768px){
                padding-right: 0rem;
                .quote{
                    left: 20rem;
                }
               
             }
        }

        &-text{
            p{
                line-height: 2.8rem;
                margin-bottom: 2rem;
            }

            span{
                margin: 2rem 0;
            }
        }
    }
}

